<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="row">
        <h1>Bienvenid@ {{session.nombre_usuario}}</h1>
        <a href="/nuevo" class="btn btn-primary">Organizar Viaje</a>
        <a href="/cerrarsesion" class="btn btn-primary">Cerrar Sesión</a>
    </header>
    <main>
        <table class="table table-dark mt-5">
            <thead>
                <tr>
                    <th>Destino</th>
                    <th>Organizador</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for viaje in viajes %}
                <tr>
                    <th>{{viaje.destino}}</th>
                    <td>{{viaje.organizador_id}}</td>
                    <td>{{viaje.fecha_inicio}}</td>
                    <td>{{viaje.fecha_fin}}</td>
                    <td>
                        <a href="/ver/{{viaje.id}}">Ver</a>
                        <a href="/editar/{{viaje.id}}">Editar</a>
                        <a href="/dashboard/borrar/{{viaje.id}}">Borrar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>