<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Viaje</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="row">
        <h1>Nuevo Viaje</h1>
        <a href="/dashboard" class="btn btn-primary">Inicio</a>
        <a href="/cerrarsesion" class="btn btn-primary">Cerrar Sesión</a>
    </header>
    <main>
        <form action="/nuevo/save" method="POST" class="tarjeta">
            <label>Destino:</label>
            <input type="text" name="destino" required><br>

            <label>Fecha de Inicio:</label>
            <input type="date" name="fecha_inicio" required><br>

            <label>Fecha de Fin:</label>
            <input type="date" name="fecha_fin" required><br>

            <label>Itinerario:</label>
            <input type="text" name="itinerario" maxlength="40" required style="height: 200px;"><br>

            <input type="text" name="organizador" value="{{session.id_usuario}}" hidden>
            
            <input type="submit" value="Guardar" class="btn btn-primary mt-2">
        </form>
    </main>
</body>
</html>