<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Viaje</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <main>
        <header class="row space-between align-center">
            <h1>Nuevo Viaje</h1>
            <div class="row">
                <form action="/dashboard">
                    <button type="submit">Inicio</button>
                </form>
                <form action="/cerrarsesion">
                    <button type="submit">Cerrar Sesión</button>
                </form>
            </div>
        </header>

        {% with messages = get_flashed_messages(with_categories=true) %}<!-- declara una variable llamada mensajes -->
            {% if messages %}<!-- revisa si hay algún mensaje -->
                <div class="message">
                    <ul class="flashes">
                    {% for category, message in messages %}   <!-- recorre los mensajes -->
                        {% if category in ('error, success') %}
                        <li class="{{category}}">{{message}}</li>  <!-- muestra cada mensaje en una etiqueta de párrafo -->
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}

        <form action="/nuevo/save" method="POST" class="grid-form tarjeta">
            <label for="destino">Destino:</label>
            <input type="text" name="destino" id="destino" required>

            <label for="fecha_inicio">Fecha de Inicio:</label>
            <input type="date" name="fecha_inicio" id="fecha_inicio" required>

            <label for="fecha_fin">Fecha de Fin:</label>
            <input type="date" name="fecha_fin" id="fecha_fin" required>

            <label for="itinerario">Itinerario:</label>
            <textarea name="itinerario" id="itinerario" rows="4" cols="10"></textarea>

            <input type="text" name="organizador" value="{{session.usuario_id}}" hidden>

            <button type="submit">Guardar</button>
        </form>
    </main>
</body>
</html>