<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Evento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <section>
        <header class="row space-between align-center">
            <h1>Evento</h1>
            <div class="row">
                <form action="/eventos" style="margin: 10px;">
                    <button type="submit">Inicio</button>
                </form>
                <form action="/cerrarsesion" style="margin: 10px;">
                    <button type="submit">Cerrar Sesión</button>
                </form>
            </div>
        </header>
        {% with messages = get_flashed_messages(with_categories=true) %}<!-- declara una variable llamada mensajes -->
            {% if messages %}<!-- revisa si hay algún mensaje -->
                <ul class="flashes">
                {% for category, message in messages %}   <!-- recorre los mensajes -->
                    {% if category in 'error, success' %}
                    <li class="{{category}}">{{message}}</li>  <!-- muestra cada mensaje en una etiqueta de párrafo -->
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form action="/nuevo/save" method="POST" class="grid-form tarjeta">
            <label for="nombre_evento">Nombre Evento:</label>
            <input type="text" name="nombre_evento" id="nombre_evento" required>

            <label for="ubicacion">Ubicación:</label>
            <input type="text" name="ubicacion" id="ubicacion" required>

            <label for="fecha">Fecha:</label>
            <input type="date" name="fecha" id="fecha" required>

            <label for="detalles">Detalles:</label>
            <textarea name="detalles" id="detalles" rows="4" cols="10"></textarea>

            <input type="text" name="usuario_id" value="{{session.usuario_id}}" hidden>

            <button type="submit">Guardar</button>
        </form>
    </section>
</body>
</html>