<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Futuro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <section class="badluck">  
        <h1>Soy el adivino del Dojo, 
            <span class="green">{{session['nombre']}}</span> 
            tendrá 
            <span class="blue">{{session['numero']}}</span> 
            años de mala suerte, nunca conocerá 
            <span class="yellow">{{session['lugar']}}</span> 
            y jamás volvió a comer
            <span class="lightblue">{{session['comida']}}</span>
            .
        </h1>
        <h1>Cambió de profesión y ahora es 
            <span class="orange">{{session['profesion']}}</span>
            .
        </h1>
        <a href="/">¡Jugar de nuevo!</a>
    </section>
</body>
</html>