<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Estudiante</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <main class="row center">
        <section>
            <h1>Nuevo Estudiante</h1>
            <form action="/estudiante/crear" method="POST" class="grid-form">
                <label for="curso_id">Curso:</label>
                <select name="curso_id" id="curso_id">
                    {% for x in cursos %}
                        <option value="{{x.id}}">{{x.nombre}}</option>
                    {% endfor %}
                </select>
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre" required>
                <label for="apellido">Apellido:</label>
                <input type="text" name="apellido" id="apellido" required>
                <label for="edad">Edad:</label>
                <input type="number" name="edad" id="edad" required>
                <button type="submit">Crear</button>
            </form>
            <div style="margin-top: 20px;">
                <a href="/cursos" >Inicio</a>
            </div>
        </section>
    </main>
</body>
</html>